@import "tailwindcss";

.rolling {
    animation: roll .1s infinite linear;
}

#rollercontainer {
    mask-image: linear-gradient(to bottom, transparent 20%, black 50%, transparent 80%);
}

@keyframes roll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}